@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden ! important;
    font-family: 'Space Grotesk', sans-serif;
}
.bgImage1{
    background-image: url("https://res.cloudinary.com/mastercraft/image/upload/v1655270010/casa_city/DSC_0048_dv8ikw.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 500px;
}
.frame {
    border:5px solid #8ED081;
    height: 250px;
    width: 200px;
    overflow: hidden;
    position: relative;
    top: 6rem;
    left: 25rem;
}
.textAlign{
    text-align: left;
    width:500px;
    word-wrap: break-word;
}
ul {
  list-style-type: none;
}
.card4{
width: 430px;
position:relative;
left: 3.9rem;
top: 4rem;
}
.cardImage{
    height: 535px;
}
.svg {
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(132deg) brightness(98%) contrast(106%);
}

@media only screen and (max-width: 800px) {

  body {
    width: 100%;
  }
  .serviceGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .cityInfoDashboard{
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .cardImage{
    display: none;
  }

}

@media only screen and (max-width: 640px) {

    body{
        width: 100%;
        font-size: 10pt;
        overflow-x: hidden ! important;
      }
        .searchBar{
          position: absolute;
          left: 20px;
        }
        .btn1{
          display: absolute;
          left: 13rem;
          bottom: 1.7rem;
        }
        .heroSecBg{
            width: 100%;
            padding: 10px;
        }
        .heroSecImg { 
            height: 100%;
        }
        .bgImage1 {
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .frame {
            width: 15rem;
            position: relative;
            left: 52px;
        }
        .textAlign {
            margin-top: 5rem;
            width:100%;
            padding: 10px;
        }
        .textHeader {
            font-size: 21px;
            padding-bottom: 10px;
        }
        .textParagraph{
            padding-bottom: 30px;
        }
        .btn{
            margin-top: 20px;
        }
        .bgImage3 {
            width: 100%;
        }
        .card4{
            width: 100%;
            }
        .cardImage{
            width: 100%;
        }
        .serviceGrid{
            display: grid;
            grid-template-columns: repeat(1, auto);
          }
        .cityInfoDashboard{
            display: grid;
            grid-template-columns: repeat(1, auto);
          }
        .cardImage{
            display: none;
          }
        .mbs{
            position: relative;
            right: 4rem;
          }
        .cityDashboard{
            position: relative;
            right: 6rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
}